.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  border-radius: 15px;
}

.controls {
	bottom: 30px;
}

.controls {
	position: fixed;
	z-index: 999;
	width: 100%;
}

.btn {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 6px;
	padding: 6px 24px;
	text-transform: uppercase;
}

.labels .btn {
	opacity: 0.66;
}

.labels .label {
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
	color: #fff;
	padding: 6px 6px 6px 24px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.labels .label.selected {
	opacity: 1;
}

.labels .label .delete {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	margin-left: 8px;
	padding-left: 8px;
}

.x-ray-container {
	background: #000;
	margin-bottom: -20px;
}

.collection-container .btn {
	font-size: 11px;
	margin-bottom: 2px;
	margin-top: 2px;
	padding: 6px 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.collection-container .btn.active {
	color: #fff;
}

.collection-container .collection-container {
    margin-bottom: 9px;
    margin-top: 9px;
    padding: 0 20px;
}

.collection-container .collection {
    background: #dfdfdf;
    border-radius: 3px;
    padding: 3px 0 !important;
}

.collection-container .collection .col-md-1,
.collection-container .collection .col-md-2,
.collection-container .collection .col-md-3,
.collection-container .collection .col-md-4,
.collection-container .collection .col-md-5,
.collection-container .collection .col-md-6,
.collection-container .collection .col-md-7,
.collection-container .collection .col-md-8,
.collection-container .collection .col-md-9,
.collection-container .collection .col-md-10,
.collection-container .collection .col-md-11,
.collection-container .collection .col-md-12 {
    padding-right: 5px;
    padding-left: 5px;
}
