body {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

h2 {
    font-size: 1.3rem;
    font-weight: 700;
}

.report {
    background: #fff9f8;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #482d29;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1.4rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    letter-spacing: 0.015em;
    line-height: 1.5rem;
    margin-bottom: 0;
    padding: 20px;
    word-wrap: break-word;
}

.report::-moz-selection {
    background: #29b6f6;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.report::selection {
    background: #29b6f6;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.report .marked {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.report .marked {
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.report-id {
    font-family: 'Roboto', sans-serif;
}

.instructions {
    background: #80e27e;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
    color: #fff;
    font-size: 1.3rem;
    padding: 0 20px 16px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.instructions .arrow-up,
.instructions .arrow-down {
    display: inline-block;
    font-size: 3.2rem;
    position: relative;
}

.instructions .arrow-up {
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
    top: 8px;
    transform: rotate(90deg) scaleX(-1);
}

.instructions .arrow-down {
    left: 12px;
    text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.1);
    top: 10px;
    transform: rotate(90deg);
}

.instructions .cursor {
    color: #004d40;
    display: inline-block;
    font-size: 2.4rem;
    position: relative;
    right: 3px;
    top: 6px;
}

.instructions .selection {
    background: #00e5ff;
    border-radius: 1px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 0;
}

.instructions .marked {
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    font-family: "Ubuntu Mono", monospace;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.015em;
    line-height: 1.5rem;
    word-wrap: break-word;
}

.switchboard .collection-container {
    margin-bottom: 9px;
    padding: 0 20px;
}

.switchboard .collection {
    background: #dfdfdf;
    border-radius: 3px;
    padding: 3px 0 !important;
}

.switchboard .collection .col-md-1,
.switchboard .collection .col-md-2,
.switchboard .collection .col-md-3,
.switchboard .collection .col-md-4,
.switchboard .collection .col-md-5,
.switchboard .collection .col-md-6,
.switchboard .collection .col-md-7,
.switchboard .collection .col-md-8,
.switchboard .collection .col-md-9,
.switchboard .collection .col-md-10,
.switchboard .collection .col-md-11,
.switchboard .collection .col-md-12 {
    padding-right: 5px;
    padding-left: 5px;
}

button.btn.btn-default {
    background: #eceff1;
    border-radius: 4px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    color: #333;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 2px 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0,2);
    text-transform: uppercase;
}

button.btn.btn-default:focus {
    box-shadow: none;
}

button.btn.btn-default:hover {
    background: #babdbe;
}

button.btn.btn-default.active {
    background: #f8f9fa;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

button.btn.btn-default.active:hover {
    background: #db5151;
}

.control-buttons .btn.btn-default {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}